{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div id="home-section-1">
    <img src="../static/home-pic.jpg" id="home-pic">
    <h1 id="welcome-text">The Art Store</h1>
    
</div>
<h2 align="center" style="color: lightseagreen;">Turn your best memories into beautiful paintings</h2>
<br>
<div id="home-section-2" class="container">
    <div id="home2-div1">
        <img src="../static/p2p01.jpg">
        <span>1. Select your own photo</span>
    </div>
    <div id="home2-div2">
        <img src="../static/p2p02.jpg">
        <span>2. Choose the size and other add-ons</span>
    </div>
    <div id="home2-div3">
        <img src="../static/p2p03.jpg">
        <span>3. Order your painting!</span>
        
    </div>
</div>


{% endblock %}
