{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div id="home-section-1" class="container">
    <h1>Welcome to TV Show Tracker - TVMaze Edition</h1>
</div>

<div id="home-section-2" class="container">
    <div>Most watched:</div>
    <ul id="most-watched">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div id="home-section-3" class="container">
    <div>Last subscribers:</div>
    <ul id="last-subscribers">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div id="home-section-4" class="container">
    <div>Community Stats:</div>
    <ul id="stats">
        <li>Number of espectators: </li>
        <li>TV Shows watched: </li>
        <li>Hours watched: </li>
    </ul>
</div>
{% endblock %}
