{% extends "base.html" %}
{% block title %}My Account{% endblock %}

{% block content %}
<div align="center" class="pages-title">MY ACCOUNT</div>

<div class="card-title"><h5>MY ACCOUNT INFO</h5></div>
<div class="card" style="width: 100%;">
    <!-- <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"> -->
    <!-- <div class="card-body">
      <h5 class="card-title">My account info</h5>
    </div> -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span class="bold-text">First Name:</span><br> {{ user.firstName }}</li>
      <li class="list-group-item"><span class="bold-text">Last Name:</span><br> {{ user.lastName }}</li>
      <li class="list-group-item"><span class="bold-text">Address Line 1:</span><br> {{ user.addrline1 }}</li>
      <li class="list-group-item"><span class="bold-text">Address Line 2:</span><br> {{ user.addrline2 }}</li>
      <li class="list-group-item"><span class="bold-text">Eircode:</span><br> {{ user.eircode }}</li>
    </ul>
    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
  </div>
  <br>
  <br>

  <div class="card-title"><h5>MY ORDERS</h5></div>
  {% for n in orders.ordersList %}
  <div class="card" style="width: 100%;">
    <!-- <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Order number: {{ n[0] }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{{ n[2] }}" target="_blank"><div id="photo-button" class="btn btn-primary">Photo link</div></a></li>
      <li class="list-group-item"><span class="bold-text">Size:</span> {{ n[3] }} </li>
      <li class="list-group-item"><span class="bold-text">With frame:</span> {{ n[6] }}</li>
      <li class="list-group-item"><span class="bold-text">With giftbox:</span>  {{ n[7] }}</li>
      <li class="list-group-item"><span class="bold-text">Additional Requests:</span> {{ n[4] }}</li>
      <li class="list-group-item"><span class="bold-text">Shipping address:</span> {{ n[8] }}, {{ n[9] }}, {{ n[10] }}, {{ n[11] }}</li>
      <li class="list-group-item"><span class="bold-text">Order total:</span> <span class="amount">€ {{ n[5] }}</span></li>
    </ul>
  </div>
  <br>
  {% endfor %}
  

  <!-- <div class="card" style="width: 18rem;">
    <div class="card-header">
      Order number:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Painting size: </li>
      <li class="list-group-item">Include frame: </li>
      <li class="list-group-item">Order total: </li>
    </ul>
  </div>
  <br>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Order number:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Painting size: </li>
      <li class="list-group-item">Include frame: </li>
      <li class="list-group-item">Order total: </li>
    </ul>
  </div> -->
  <br>

<!-- <div id="profilecard" class="container">
    <div id="profile-picture-container">
        <img id="profile-picture" src="https://via.placeholder.com/150">
    </div>
    <ul id="profile-info">
        <li><div id="username"></div>Username: </li>
        <li><div id="name">Name: </div></li>
        <li><div id="course">Course: </div></li>
        <li><div id="city">City: </div></li>
        <li><div id="about">About: </div></li>
    </ul>
</div> -->

{% endblock %}