{% extends "base.html" %}
{% block title %}My Account{% endblock %}

{% block content %}
<div align="center" class="pages-title">MY ACCOUNT</div>

<div class="card" style="width: 100%;">
    <!-- <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">My account info</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">First Name: </li>
      <li class="list-group-item">Last Name: </li>
      <li class="list-group-item">Address: </li>
      <li class="list-group-item">Eircode: </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <br>

  <div class="card" style="width: 100%;">
    <!-- <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">My Orders</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Order number: | Size:  |  With frame:  |  Order total:</li>
      <li class="list-group-item">Size: </li>
      <li class="list-group-item">With frame: </li>
      <li class="list-group-item">Order total: </li>
    </ul>
  </div>
  <br>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Order number:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Painting size: </li>
      <li class="list-group-item">Include frame: </li>
      <li class="list-group-item">Order total: </li>
    </ul>
  </div>
  <br>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Order number:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Painting size: </li>
      <li class="list-group-item">Include frame: </li>
      <li class="list-group-item">Order total: </li>
    </ul>
  </div>
  <br>

<!-- <div id="profilecard" class="container">
    <div id="profile-picture-container">
        <img id="profile-picture" src="https://via.placeholder.com/150">
    </div>
    <ul id="profile-info">
        <li><div id="username"></div>Username: </li>
        <li><div id="name">Name: </div></li>
        <li><div id="course">Course: </div></li>
        <li><div id="city">City: </div></li>
        <li><div id="about">About: </div></li>
    </ul>
</div> -->

{% endblock %}