{% extends "base.html" %}
{% block title %}Order{% endblock %}

{% block content %}
<div align="center" class="pages-title">PLACE YOUR ORDER</div>

<form id="order-form" method="POST" action="/order">
    <div class="form-group">
        <label class="form-label" for="photo">Upload your photo: (please save in a Google Drive, Dropbox or any file storage service and enter the public file URL below)</label><br>
        <!-- <input type="file" accept=".jpg,.jpeg,.png" class="form-control-file" id="photo" name="photo" placeholder="Add your photo" required> -->
        <input type="url" class="form-control" name="photo" id="photo" placeholder="https://example.com" pattern="https://.*" required>
    </div>
    <br>

    <div>Choose the size of the painting:</div>
    <div class="form-check">
        <input type="radio" class="form-check-input" name="size" id="small" value="70" required>
        <label class="form-check-label">Small (12"x16") - €70</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="size" id="medium" value="100">
        <label class="form-check-label">Medium (16"x24") - €100</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="size" id="large" value="140">
        <label class="form-check-label">Large (20"x28") - €140</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="size" id="xlarge" value="200">
        <label class="form-check-label">Extra Large (24"x35") - €200</label>
      </div>
    <br>

    <div>Would you like to add a frame to your painting?</div>
    <div class="form-check">
        
        <input type="radio" class="form-check-input" name="frame" id="yes-frame" value="30">
        <label class="form-check-label">Yes (+ €30)</label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" name="frame" id="no-frame" value="0" checked>
      <label class="form-check-label">No</label>
    </div>
    <br>

    <div>Would you like to add a gift box?</div>
    <div class="form-check">
        <input type="radio" class="form-check-input" name="giftbox" id="yes-gift" value="20">
        <label class="form-check-label">Yes (+ €20)</label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" name="giftbox" id="no-gift" value="0" checked>
      <label class="form-check-label">No</label>
    </div>
    <br>

    <div class="form-group">
        <label for="comment">Any personal requests?</label>
        <textarea class="form-control" rows="3" id="comment" name="comment" maxlength="300" value="{{ request.form['comment'] }}"></textarea>
    </div>
    <br>
    <div class="form-group">
      <label for="shipping-option">Is your shipping address the same as the address saved on your account?</label>
      <select class="form-control" id="shipping-option" name="shipping-option" onchange="toggle('shipping-block',this)">
      <option>Yes</option>
      <option>No</option>
      </select>
    </div>
    <br>

    
    <div id="shipping-block">
      <div>Shipping address:</div>
      <div class="form-group">
        <label for="ship-addr1">Address line 1:</label>
        <input type="text" class="form-control" id="ship-addr1" name="ship-addr1" placeholder="Enter address line 1" value="{{ request.form['ship-addr1'] }}">
      </div>
      <div class="form-group">
        <label for="ship-addr2">Address line 2:</label>
        <input type="text" class="form-control" id="ship-addr2" name="ship-addr2" placeholder="Enter address line 2" value="{{ request.form['ship-addr2'] }}">
      </div>
      <div class="form-group">
        <label for="ship-addr3">City:</label>
        <input type="text" class="form-control" id="ship-addr3" name="ship-addr3" placeholder="Enter city" value="{{ request.form['ship-addr3'] }}">
      </div>
      <div class="form-group">
        <label for="ship-addr4">Eircode:</label>
        <input type="text" class="form-control" id="ship-addr4" name="ship-addr4" placeholder="Enter eircode" value="{{ request.form['ship-addr4'] }}">
      </div>
    </div>


    <br>
    <br>

    <div>Total amount:</div>
    <div class="form-group">
      <input class="form-control" type="text" value="€ 0" id="total-amount" name="total-amount" readonly>
    </div>
    <br>
    <br>

    <div id="payment-info">Info for payment will be sent via e-mail. Please check your spam/junk folders to make sure you send the payment to indicated bank account and payment receipt to the correct e-mail, 
      otherwise the production of your painitng will not be processed.</div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="agrement" required> I agree that once I send the payment and the product is being produced, no refunds can be issued.
        <div class="valid-feedback">Valid.</div>
      </label>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Send order</button>

</form>

{% endblock %}
