{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
<div align="center" class="pages-title">PLACE YOUR ORDER</div>

<form id="order-form" method="POST">
    
    <div class="form-group">
        <label class="form-label" for="photo">Upload your photo:</label><br>
        <input type="file" class="form-control-file" id="photo" name="photo" placeholder="Add your photo" required>
    </div>
    <br>

    <div>Choose the size of the painting:</div>
    <div class="form-check">
        
        <input type="radio" class="form-check-input" name="size" id="small" value="70" onclick="setprice('70')">
        <label class="form-check-label">Small (12"x16") - €70</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="size" id="medium" value="100" onclick="setprice('100')>
        <label class="form-check-label">Medium (16"x24") - €100</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="size" id="large" value="140" onclick="setprice('140')>
        <label class="form-check-label">Large (20"x28") - €140</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="size" id="xlarge" value="200" onclick="setprice('200')>
        <label class="form-check-label">Extra Large (24"x35") - €200</label>
      </div>
    <br>

    <div>Would you like to add a frame to your painting:</div>
    <div class="form-check">
        
        <input type="radio" class="form-check-input" name="frame" id="yes-frame" value="30" onclick="setprice('30')">
        <label class="form-check-label">Yes (+ €30)</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="frame" id="no-frame" value="0" onclick="setprice('0')" checked>
        <label class="form-check-label">No</label>
      </div>
    <br>

    <div class="form-group">
        <label for="comment">Any personal requests?</label>
        <textarea class="form-control" rows="3" id="comment"></textarea>
    </div>

    <br>
    <div>Total amount:</div>
    <input class="form-control" type="text" placeholder="Total ammount will appear here" id="total-amount" readonly>
    <br>


    <div id="payment-info">Info for payment will be sent via e-mail. Please check your spam/junk folders to make sure you send the payment to indicated bank account and payment receipt to the correct e-mail, 
      otherwise the production of your painitng will not be processed.</div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="agrement" required> I agree that once I send the payment and the product is being produced, no refunds can be issued.
        <div class="valid-feedback">Valid.</div>
      </label>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Send order</button>

</form>

{% endblock %}
