{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div id="profilecard" class="container">
    <div id="profile-picture-container">
        <img id="profile-picture" src="https://via.placeholder.com/150">
    </div>
    <ul id="profile-info">
        <li><div id="username"></div>Username: </li>
        <li><div id="name">Name: </div></li>
        <li><div id="course">Course: </div></li>
        <li><div id="city">City: </div></li>
        <li><div id="about">About: </div></li>
    </ul>
</div>

<div id="myshows">
    <div>MY TV SHOWS</div>
    <div id="shows-container">
        <ul id="shows-list"></ul>
    </div>
    
    
</div>
{% endblock %}