{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
<div id="search-sec-1">
    <div class="form-group">
        <input type="text" placeholder="Type the name of your show here..." class="form-control" id="searchbar">
    </div>
    
    <button type="submit" class="btn btn-primary" onclick="submitButton()" id="search-button">Search show</button>
</div>

<div id="search-sec-2">
    <div id="show-picture-container">
        <img id="show-picture" src="https://via.placeholder.com/210x295">
    </div>
    <button type="submit" class="btn btn-success" id="add-button">Add show to my list</button>
    <ul id="show-info">
        <li id="show-name"><a href="#"></a></li>
        <li id="show-premiere"></li>
        <li id="show-rating"></li>
        <li id="show-status"></li>
        <li id="show-channel"></li>
        <li id="show-runtime"></li>
        <li id="show-summary"></li>
        
    </ul>
</div>
{% endblock %}
