* {margin:0;}
body {
 	font-family: Arial, Helvetica;
	background-color: rgb(235, 206, 168);
	
}

#navbar-logo {
	height: 18px;
	margin-right: 5px;
}

#footer {
	color: white;
	font-weight: bold;
}

.bold-text {
	font-weight: bold;
}

.amount {
	font-weight: bold;
	color: rgb(2, 173, 2);
}


a {
	color: inherit;
}

a:hover li{
	opacity: 0.7;
	text-decoration: underline;

}


.required:after {
	content: "*";
	color: red;
}

.pages-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

#logged-email {
	float: right;
	font-weight: bold;
	color:dodgerblue;
}


/*HOME PAGE*/
#home-section-1 {
	position: relative;
	text-align: center;
	color: white;
}

#home-pic {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 10px grey;
}

#welcome-text {
	font-size: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#home-section-2 {
	/* display: inline-block; */
	width: 800px;
	text-align: left;
}

#home-section-2 div {
	float: left;
	display: table;
	width: 800px;
	margin-bottom: 23px;
	padding: 10px;
	box-shadow: 2px 2px 10px grey;
	box-sizing: border-box;
	vertical-align: middle;
}

#home-section-2 #home2-div1{
	background-color: rgb(105,105,105,0.2);
}
#home-section-2 #home2-div2{
	background-color: rgb(105,105,105,0.4);
}
#home-section-2 #home2-div3{
	background-color: rgb(105,105,105,0.6);
	margin-bottom: 100px;
}

#home-section-2 div img {
	float: left;
	border-radius: 1500px;
	display: block;
	width: 140px;
	margin-right: 20px;

}

#home-section-2 div span {
	display: table-cell;
	font-size: 25px;
	vertical-align: middle;

}


/*LOGIN PAGE*/
#login-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

#reg-now-text {
	text-align-last: center;
	font-size: 12px;
}

#reg-now-text a{
	color: royalblue;
}

/*SIGN UP PAGE*/
#reg-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

#login-now-text {
	text-align-last: center;
	font-size: 12px;
}

#login-now-text a{
	color: royalblue;
}

/*ORDER PAGE*/
#order-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

#total-amount {
	width: 250px;
}

#payment-info {
	font-size: 12px;
	color: red;
}

#shipping-option {
	width: 250px;
}

#shipping-block {
	display: none;
}

/*MY ACCOUNT PAGE*/
#card-head-container {
	display: inline-block;
}

#card-img {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 20px 20px 20px 20px;
	border-radius: 1500px;
	vertical-align: middle;
}

#card-welcome {
	display: inline-block;
	font-size: 50px;
	vertical-align: middle;
}

#upd-buttons {
	display: none;
}

#upd-delete {
	color: white;
	float: right;
}

/*DELETE PAGE*/
#delete-title {
	margin-top: 20px;
}

#delete-text {
	text-align-last: center;
	font-size: 20px;
	color: red;
	margin-bottom: 50px;
}