* {margin:0;}
body {
 	background-color: #1b2838;
 	color: #c6d4df;
 	font-family: Arial, Helvetica;
	
}


/* #footer {
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 2.5rem;
} */

a {
	color: inherit;
}

a:hover li{
	opacity: 0.7;
	text-decoration: underline;

} */

/* .curr-page {
	border-bottom: 3px solid lightseagreen;
} */

.required:after {
	content: "*";
	color: red;
}

/*##########Login Page##########*/
 #login-title {
	display: block;
	text-align-last: center;
	font-size: 30px;
	margin: 5% 0 40px 0;
}
/*
#login-container input,button {
	display: block;
	margin: auto;
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
}
*/
#reg-now-text {
	display: block;
	text-align-last: center;
	font-size: 12px;
}

#reg-now-text a{
	color: aquamarine;
}


/*Register Page*/
#reg-title {
	display: block;
	text-align-last: center;
	font-size: 30px;
	margin: 5% 0 40px 0;
}
/*
#reg-container {
	display: block;
	margin: auto;
}

#reg-container input,textarea,button {
	display: block;
	margin: auto;
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
}

#reg-form div label{
	display: block;
	margin: auto;
	width: 250px;
	margin-bottom: 0px;
	font-size: 12px;
}



#about-reg {
	height: 80px;
	width: 252px;
} */

#login-now-text {
	display: block;
	text-align-last: center;
	font-size: 12px;
}

#login-now-text a{
	color: aquamarine;
}


/*Home Page*/
#home-section-1 {
	background-color: #23354a;
	box-sizing: border-box;
	float: left;
	display: block;
	width: 50%;
	margin: 0 0 30px 25%;
	padding: 10px 10px 10px 10px
}

#home-section-1 h1 {
	text-align: center;
	margin: 0 0 10px 0;
}

#home-section-1 h2{
	font-size: 16px;
	text-align: center;
}

#home-section-2 {
	background-color: #23354a;
	box-sizing: border-box;
	float: left;
	display: block;
	width: 50%;
	margin: 0 0 30px 25%;
	padding: 10px 10px 10px 10px
}

#home-section-3 {
	background-color: #23354a;
	box-sizing: border-box;
	float: left;
	display: block;
	width: 50%;
	margin: 0 0 30px 25%;
	padding: 10px 10px 10px 10px
}

#home-section-4 {
	background-color: #23354a;
	box-sizing: border-box;
	float: left;
	display: block;
	width: 50%;
	margin: 0 0 30px 25%;
	padding: 10px 10px 10px 10px
}


/*Profile Page*/

#profilecard {
	background-color: #23354a;
	/* box-sizing: border-box;
	float: left;
	display: block; */
	width: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 10px 40px 10px;
}

#profile-picture-container {
	float: left;
	height: 160px;
	width: 160px;
	margin: 20px 0 20px 20px;
	border: 5px solid #66c0f4;
}

#profile-picture {
	float: center;
}

#profile-info {
	display: inline-block;
	list-style-type: none;
	margin: 15px 0 0 0px;
}

#profile-info li {
	margin-bottom: 5px;
}

#myshows {
	background-color: #23354a;
	box-sizing: border-box;
	float: left;
	display: block;
	width: 50%;
	margin: 0 0 0 25%;
	padding: 10px 10px 10px 10px;
}

#myshows div {
	margin: 20px 0 20px 20px;
	font-size: 22px;
}


/*Search Page*/

#search-sec-1 {
	background-color: #23354a;
	box-sizing: border-box;
	float: left;
	display: block;
	width: 50%;
	margin: 20px 0 30px 25%;
	padding: 10px 10px 10px 10px;
}

#search-button {
	width: 100%;
	margin: auto;
}

#search-sec-2 {
	background-color: #23354a;
	box-sizing: border-box;
	float: left;
	display: block;
	width: 50%;
	margin: 0 0 30px 25%;
	padding: 10px 20px 10px 10px;
}

#search-sec-2 form{
	float: right;
}

#show-picture-container {
	display: inline-block;
	margin: 10px 0 10px 10px;
}

#show-id-catcher {
	display: none;
}

#add-button {
	float: right;
	margin: 10px 0 0 0;
}

#show-info {
	list-style-type: square;
	font-size: 15px;
	margin-left: -15px;
}

#show-info li {
	margin-bottom: 8px;
}

#show-summary {
	text-align: justify;
}