* {margin:0;}
body {
 	/* background-color: #1b2838;
 	color: #c6d4df; */
 	font-family: Arial, Helvetica;
	
}


a {
	color: inherit;
}

a:hover li{
	opacity: 0.7;
	text-decoration: underline;

}

/* .curr-page {
	border-bottom: 3px solid lightseagreen;
} */

.required:after {
	content: "*";
	color: red;
}

.pages-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}


/*HOME PAGE*/
#home-pic {
	width: 100%;
	margin-top: 10px;
}

h1 {
	font-size: 50px;
}


/*LOGIN PAGE*/
#login-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

#reg-now-text {
	text-align-last: center;
	font-size: 12px;
}

#reg-now-text a{
	color: royalblue;
}

/*SIGN UP PAGE*/
#reg-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

#login-now-text {
	text-align-last: center;
	font-size: 12px;
}

#login-now-text a{
	color: royalblue;
}

/*ORDER PAGE*/
#order-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

#total-amount {
	width: 250px;
}

#payment-info {
	font-size: 12px;
	color: red;
}

#shipping-option {
	width: 250px;
}

#shipping-block {
	display: none;
}